/* Reset & Base */
html {
    font-size: var(--global-font-size);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--main-font, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace);
    font-size: 1rem;
    line-height: var(--global-line-height);
    margin: 0;
    padding: 0;
}

/* Typography styles from terminal.css */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color);
        color: var(--invert-font-color);
    }
}

@import 'readeck';